
#section1{
   background-color: pink; 
}

#section2{
    background-color: aqua;
}

#div1{
    background-color: yellow;
}

#div2{
    background-color: chartreuse;
}

#div3{
    background-color: blueviolet;
}

.section{
    font-weight: bold;
}

#elonmuskresim{
    width: 500px;
}

.span1{
    background-color: blueviolet;
    font-size: 50px;
    color: white;
}
